<!-- src/app/inventory/inventory.html -->
<section class="wrap">
  <header>
    <h2>Inventory</h2>
    <div class="form-row">
         <input type="text" [(ngModel)]="form.name" placeholder="Name">
         <input type="text" [(ngModel)]="form.category" placeholder="Category">
    <input type="number" [(ngModel)]="form.quantity" placeholder="Quantity">
    <input type="number" [(ngModel)]="form.price" placeholder="Price">
      <button class="add-btn" (click)="addItem()">Add Item</button>
    </div>
  </header>

  <div style="display:flex; justify-content:center;">
  <table>
    <thead><tr><th>Name</th><th>Category</th><th>Quantity</th><th>Price</th><th>Actions</th></tr></thead>
 <tbody>
  <tr *ngFor="let item of items">
    <ng-container *ngIf="editing?.id !== item.id; else editRow">
      <td>{{ item.name }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price | currency }}</td>
      <td>
        <button class="edit" (click)="edit(item)">Edit</button>
        <button class="del" (click)="remove(item.id)">Delete</button>
      </td>
    </ng-container>

    <ng-template #editRow>
      <td><input [(ngModel)]="editing!.name" /></td>
      <td><input [(ngModel)]="editing!.category" /></td>
      <td><input type="number" [(ngModel)]="editing!.quantity" /></td>
      <td><input type="number" [(ngModel)]="editing!.price" /></td>
      <td><button class="save" (click)="save()">Update</button></td>
    </ng-template>
  </tr>
</tbody>
  </table>
  </div>
</section>
