<div class="register-container">
  <div class="register-card">
    <h2 class="title">Create Your Account ✨</h2>

    <input type="text" placeholder="Username" [(ngModel)]="username" />
    <input type="email" placeholder="Email" [(ngModel)]="email" />
    <input type="password" placeholder="Password" [(ngModel)]="password" />

    <button (click)="submit()" class="btn">Register</button>

    <p class="ok" *ngIf="success">{{ success }}</p>
    <p class="error" *ngIf="error">{{ error }}</p>

    <p class="login-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
